<%= form_for @butterfly,      remote: true, :html => {:multipart => true} do |f| %>

  <p>
   <%= f.label                :title, "Name of Butterfly" %>
   <%= f.text_field           :title %>
  </p>

  <!-- <p>
    <%= f.label                :image, "url" %>
   <%= f.text_area              :image %>
  </p> -->

  <p>
   <%= f.file_field           :image %>
  </p>

  <!-- <%= f.hidden_field          :image, :id => "hiddenCanvas"%> -->

  <!-- for implementing user and permissions -->
 <!-- <p>
   <%= f.hidden_field      :user_id %>
 </p>  -->

  <p>
   <%= f.submit               :value => "Upload Butterfly to Gallery"%>
  </p>

<% end %>
