<div id="header">

  <div id="wheel-link">
    <%= link_to image_tag('wheel_text_logo.png'), stages_path %>
  </div>

  <h1>Butterfly Gallery</h1>

  <div id="ribbon">
    <%= link_to root_path do %>
    <%= image_tag ('ribbon-xsm.png') %>
    <% end %>
  </div>
</div>

<ul id="butterflies">
  <% @butterflies.each do |butterfly| %>

  <li><%= link_to butterfly.title, butterfly_path(butterfly) %></li>
  <%= image_tag butterfly.image_url(:thumb).to_s %>
  <% end %>
</ul>

<li id="tools"><%= link_to "Create butterfly", new_butterfly_path %></li>

<ul id="why_bfly">
  <li> Support awareness of abuse issues </li>
  <li> Encourage victims to leave unhealthy relationships </li>
  <li> Express pain that you or others have felt because of abuse </li>
  <li> Let abusers know that their behavior is unacceptable </li>
  <li> Let abusers know that they need to commit to getting real help to deal with their own tension in order to break the cycle.</li>
  <li> Let victims know that they are not to blame.  It is not a weakness to seek help.  It takes courage to leave. <li>
</ul>
