
<div id="header">
  <div id="link-icon">
    <%= link_to butterflies_path(@butterflies) do %>
    <%= image_tag ('butterfly-sm.png') %>
    <% end %>
  </div>
  <h1>Create a Butterfly</h1>
  <div id="ribbon">
    <%= link_to root_path do %>
    <%= image_tag ('ribbon-xsm.png') %>
    <% end %>
  </div>
</div>

<div class="blank">
</div>
<p> Express yourself by designing a butterfly, a symbol of freedom and hope, with your thoughts regarding domestic abuse ... </p>
<p>Right click to save your created image.  Then, if you want to submit it to include in the butterfly gallery, upload the file below.</p>


<canvas id="canvas" width="600" height="500"></canvas>

<!-- <button id="clearCanvas" type="button">Clear</button> -->

<li id=tools>
  <span class="highlight">Choose a color: </span>
  <button id="choosePurple">Purple</button>
  <button id="chooseGreen">Green</button>
  <button id="chooseYellow">Yellow</button>
  <button id="chooseBrown">Brown</button>
  <button id="chooseRed">Red</button>
  <button id="chooseBlack">Black</button>
</li>

<!-- <button id="convertCanvas" type="button">convert</button> -->

<a href="#" id="btn-download">Open Finished Image in New Window</a>

<%= render partial: "form" %>
<!-- # <%= form_for(@butterfly, remote: true) do |f| %> -->
<% end %>
