<div class="nav-2">
  <div id="bfly-icon">
    <%= link_to butterflies_path(@butterflies) do %>
    <%= image_tag ('butterfly-sm.png'), :title => "Return to Butterfly Gallery" %>
    <% end %>
  </div>
</div>

<div id = "show-bfly">
  <h1>Create a Butterfly</h1>
  <h2><%= @butterfly.title %></h2>

  <div class="butterfly_image">
  	<%= image_tag @butterfly.image_url.to_s %>
  </div>

  <div class="butterfly_actions">
  	<!-- <a href="/butterflies/<%= @butterfly.id %>/edit">Edit</a> -->
  	<%= button_to("Delete", butterfly_path(@butterfly), :method => :delete) %>
  </div>
</div>

<div id="footer">
  Domestic Abuse Awareness, © 2015
</div>
