
<li><%= link_to "Butterfly Gallery", butterflies_path %></li>

<h1> Butterfly </h1>
<h2><%= @butterfly.title %></h2>


<div class="butterfly_image">
	<%= image_tag @butterfly.image_url.to_s %>
</div>


<div class="butterfly_actions">
	<a href="/butterflies/<%= @butterfly.id %>/edit">Edit</a>
	<%= button_to("Delete", butterfly_path(@butterfly), :method => :delete) %>
</div>
