<div class="header">
  <div id="return-to-wheel-link">
    <%= link_to image_tag('wheel_text_logo.png'), stages_path, :title => "Return to Cycle" %>
  </div>

  <h1><%= @stage.name %> Stage </h1>
  <p><%= @stage.description %></p>
</div>



<container id="set-of-cards">
<div class="card-grid">
  <% @stage.attitudes.where(role: Role.find_by(name: "Abuser")).each do |attitude| %>
    <div class="card">
      <div class="front">
        <div id= small-stage> <%= @stage.name.capitalize %> Stage </div>
        <div id= big-tude><%= attitude.role.name %> feels ... </div>
      </div>
      <div class="back">
        ... <%= attitude.description %>
      </div>
    </div>
  <% end %>
</div>

<div class="card-grid">
  <% @stage.behaviors.where(role: Role.find_by(name: "Abuser")).each do |behavior| %>
    <div class="card" id="behavior">
      <div class="front">
        <div id= small-stage> <%= @stage.name.capitalize %> Stage </div>
        <div id= big-tude><%= behavior.role.name %> ... </div>
      </div>
      <div class="back">
        ... <%= behavior.description %>
      </div>
    </div>
  <% end %>
</div>


<div class="card-grid">
  <% @stage.attitudes.where(role: Role.find_by(name: "Victim")).each do |attitude| %>
    <div class="card">
      <div class="front">
        <div id= small-stage> <%= @stage.name.capitalize %> Stage </div>
        <div id= big-tude><%= attitude.role.name %> feels ... </div>
      </div>
      <div class="back">
        ... <%= attitude.description %>
      </div>
    </div>
  <% end %>
</div>


<div class="card-grid">
  <% @stage.behaviors.where(role: Role.find_by(name: "Victim")).each do |behavior| %>
    <div class="card" id="behavior">
      <div class="front">
        <div id= small-stage> <%= @stage.name.capitalize %> Stage </div>
        <div id= big-tude><%= behavior.role.name %> ... </div>
      </div>
      <div class="back">
        ... <%= behavior.description %>
      </div>
    </div>
  <% end %>

</div>

</container>
