<!DOCTYPE html>
<html>
  <head>
    <title>Domestic Abuse</title>
     <%= stylesheet_link_tag    'application', media: 'all' %>
     <%= javascript_include_tag 'application' %>
     <%= javascript_include_tag 'script' %>
     <%= csrf_meta_tags %>

  </head>

  <body>
    <div id="wrapper">
	  	<div id="header"></div>
		  <div id="content">
         <%= yield %>

      </div>
		  <div id="footer">
        <p>Domestic Abuse Awareness, © 2015 </p>
      </div>
	  </div>

  </body>
</html>
